
proj.*/bin
proj.*/obj
proj.*/res
proj.*/assets
proj.*/gen

proj.*/libs/armeabi
 
*.xcbkptlist

proj.ios_mac/MyCppGame.xcodeproj/project.xcworkspace/xcuserdata/jiyao.xcuserdatad/UserInterfaceState.xcuserstate

